<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://ekittens.s3.eu-central-1.amazonaws.com/fonts.css"
            rel="stylesheet"
        />
        <link
            href="https://ekittens.s3.eu-central-1.amazonaws.com/index.css"
            rel="stylesheet"
        />
        <title>Certificate</title>
    </head>
    <body>
        <div class="certificate">
            <div class="certificate__edge certificate__edge--left-top">
                <img
                    src="https://ekittens.s3.eu-central-1.amazonaws.com/assets/edge-left-top.png"
                />
            </div>

            <div class="certificate__edge certificate__edge--right-top">
                <img
                    src="https://ekittens.s3.eu-central-1.amazonaws.com/assets/edge-right-top.png"
                />
            </div>

            <div class="certificate__edge certificate__edge--left-bottom">
                <img
                    src="https://ekittens.s3.eu-central-1.amazonaws.com/assets/edge-left-bottom.png"
                />
            </div>

            <div class="certificate__edge certificate__edge--right-bottom">
                <img
                    src="https://ekittens.s3.eu-central-1.amazonaws.com/assets/edge-right-bottom.png"
                />
            </div>

            <div class="certificate__content">
                <div class="certificate__header">
                    <img
                        class="certificate__figure"
                        src="https://ekittens.s3.eu-central-1.amazonaws.com/assets/figure.png"
                    />

                    <h3 class="certificate__title">
                        Certificate of appreciation
                    </h3>
                </div>

                <div class="certificate__body">
                    <span class="certificate__awards">
                        Freelance School awards
                    </span>

                    <h1 class="certificate__name"><%= name %></h1>

                    <span class="certificate__description">
                        for finishing the "<%= course %>" course.
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
